:root {
  --box-width: 400px;
  --box-length:400px;
  --gray: #9aa0a6;
}

body {
  font-family:'Radley', serif;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  background: conic-gradient(from 145.1deg at 44.13% 57.83%, #00C2FF -1.59deg, rgba(0, 194, 255, 0.34) 21.86deg, rgba(255, 255, 255, 0) 202.5deg, #00C2FF 358.41deg, rgba(0, 194, 255, 0.34) 381.86deg), conic-gradient(from 206.34deg at 62.5% 42.17%, rgba(255, 255, 255, 0) 0deg, #FF6B00 138.12deg, rgba(255, 255, 255, 0) 360deg), conic-gradient(from 24.96deg at 33.68% 77.44%, #FFFFFF 0deg, #05FF00 187.5deg, #FFFFFF 345deg, #FFFFFF 360deg), #05FF00;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section#model {
  margin: auto;
  z-index: 99999999;
}

section#info {
  margin-top: 50px;
}

section>* {
  margin: 0px;
}

a,
h1,
h2 {
  text-align: center;
}

a {
  color: #000;
}

h1 {
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-size: 18px;
  line-height: 22px;
}

#keyboard {
  width: 800px;
  height: 145px;
  background-color: #FFB7F8;
  border: 1px solid black;
  border-radius: 25px;
  margin-top: 24px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  display: inline-block;
}

#back {
  display:flex;
  margin: 17px 20px;
}

.key {
  width: 105px;
  height: 105px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left:2.5px;
  margin-right:2.5px;
  text-align:center;
  background-color:white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  display: flex;
    justify-content: center;
    align-items: center;
}

.keyA img {
  height: 70px;
  width: 60;
}

.keyT img {
  width: 80px;
  height: 70px;
}

#displays {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.row {
  display: block;
  position: relative;
  clear: both;
}

.col {
  display: block;
  float: left;
  position: relative;
}

#webcam-wrapper {
  display: inline-block;
  width: var(--box-width);
  height: var(--box-length);
  background-color: var(--gray);
  border-radius: 25px 0 0 0;
  overflow: hidden;
  /*margin: 0 auto;*/
  /*position: absolute;
  top: 10%;
  left: 25%;*/
  z-index: 9999999998;
  border: 1px solid black;
  border-bottom:0;
}

.loader {
  position: absolute;
  z-index:-1;
  top: 50%;
  left: 50%;
  border: 4px solid #ccc;
  /* Light grey */
  border-top: 4px solid #fff;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}


#display-wrapper {
  display: inline-block;
  width: var(--box-width);
  height: var(--box-length);
  border: 1px solid black;
  background-color: white;
  border-radius: 0 25px 0 0;
  border-bottom: 0;
  border-left:0;
}

#display-wrapper img {
  width:300px;
  height:300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#display-wrapper .letter{
  display:none; 
}

#display-wrapper .on {
  display:block;
}

#display-wrapper .selected {
  background: radial-gradient(50% 50% at 50% 50%, #5AFF6B 0%, #FFFFFF 99.48%);
}


@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#webcam-pose-canvas {
  border-top-left-radius: 25px;
}

#webcam {
  width: var(--box-width);
  height: var(--box-length);
  transform: rotateY(180deg);
}

#graph-wrapper {
  left: 0;
  top: 30%;
  width: 50%;
  margin: 0;
  position: absolute;
  padding: 0px;
  text-align: left;
}

.letter-image { 
  display:block;
  margin:auto;
  width: 50px;
  height: 70px;
}

#graph-wrapper>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

#graph-wrapper>div>* {
  display: inline-block;
  /* width: var(--box-size); */
  margin: 0 10px;
}

#graph-wrapper>div> :first-child {
  width: 25%;
  text-align: left;
}

#graph-wrapper>div>progress {
  -webkit-appearance: none;
  appearance: none;
  height: 28px;
}

#graph-wrapper>div>progress::-webkit-progress-bar {
  border-radius: 4px;
  background-color: var(--color-light);
  border: 1px solid var(--color);
}

#graph-wrapper>div>progress::-webkit-progress-value {
  border-radius: 2px;
  background-color: var(--color);
}

#background-gif {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#letter-container {
  font-family:'Radley', serif;
  letter-spacing:-0.1em;
  font-size: 99px;
  background: white;
  color: black;
  width: 800px;
  height: 100px;
  border: 1px solid black;
  border-radius: 0 0 25px 25px;
  text-align:center;
  z-index: 9999999999;
}

#text {
  position: relative;
  width: 80%;
  overflow-wrap: break-word;
  margin: 0 auto;   
}

.class {
  background: none;
}

#instructions {
  text-align: center;
  left: 15%;
  width: 26%;
  font-size: 24px;
  position: absolute;
}
